@media (max-width: 1199px) {
  .section__padding {
    padding: 90px 0;
  }
  .belaz__description {
    padding: 60px;
  }
  .questions__list-item::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .section__padding {
    padding: 80px 0;
  }
  .header__phone {
    font-size: 17px;
  }
  .belaz{
      &__description {
         padding: 40px;
      }
      &__subtitle{
         margin: 40px 0 80px;
      }
   }
  .price__form {
    &-text {
      justify-content: space-evenly;
      line-height: 70px;
    }
    &-input-responsive {
      margin-bottom: 0;
    }
  }
  .wait {
    padding-bottom: 70px;
    &__items {
      margin-bottom: 30px;
    }
  }
  .questions {
    &__subtitle {
      margin: 25px 0 60px;
    }
    &__items {
      text-align: center;
    }
    &__list {
      display: inline-block;
      margin: 0;
      &-item {
        display: block;
        margin-bottom: 30px;
      }
    }
    &__img {
      margin-top: 30px;
      text-align: center;
    }
  }
}
@media (max-width: 767px) {
  .section__padding {
    padding: 70px 0;
  }
  .header {
    padding: 15px 0;
    &__phone-block {
      margin-top: 20px;
    }
    &__btn-block {
      margin-top: 20px;
    }
  }
  .belaz {
    &__description {
      padding: 30px;
    }
    &__subtitle {
      margin: 35px 0 70px;
      text-align: center;
    }
  }
  .search {
    &__subtitle {
      margin: 30px 0;
      & span {
        display: inline-block;
        margin-top: 15px;
      }
    }
  }
  .office{
     &__subtitle{
        margin: 60px 0 25px;
     }
  }
}

@media (max-width: 575px) {
   .belaz{
      &__title{
         text-align: center;
      }
      &__subtitle{
         margin: 30px 0 60px;
      }
      &__description {
         padding: 20px;
      }
   }
  .section__padding {
    padding: 50px 0;
  }
}

@media (max-width: 320px) {
   .header__working-hours{
      margin-top: 20px;
   }
   .price__form{
      &-text{
         display: none;
      }  
      &-input-responsive {
        margin-bottom: 30px;
      }
          
   }
   
   
   .cooperation__subtitle{
      margin-bottom: 60px;
   }
   .service__title{
      margin-bottom: 60px;
   }
  .section__padding {
    padding: 40px 0;
  }
}
